h4, .studies {
    margin-top: 0;
}

h4 {
    margin-bottom: 10px;
}

.studies {
    margin-bottom: 25px;
}

h3.edu {
    margin-bottom: 0
}

footer {
    background-color: #333333;
    width: 100%;
    margin-left: 120px;
}

.footer_text {
    margin-left: 100px;
}