body {
    font-family: "Montserrat", sans-serif;
}

.w3-row-padding img {
    margin-bottom: 12px;
}

/* Set the width of the sidebar to 120px */
.w3-sidebar {
    width: 120px;
    background: #222;
}

/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {
    margin-left: 120px;
}

/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {
    #main {
        margin-left: 0;
    }
}

#myNavbar div a {
    width: 25% !important;
}

hr.short {
    width: 200px;
}

hr.full {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 1799px) {
    hr.full {
        width: 80%;
    }
}

#work h3, #education h3 {
    margin-top: 40px;
}

h4, .studies {
    margin-top: 0;
}

h4 {
    margin-bottom: 10px;
}

.studies {
    margin-bottom: 25px;
}

h3.edu {
    margin-bottom: 0;
}

footer {
    /*background-color: #333333;*/
    width: 100%;
    padding-top: 2%;
    padding-bottom: 3%;
}

p.footer_text {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 1%;
}

#languages {
    margin-bottom: 2%;
}

#button {
    margin-bottom: 1%;
}